<section>
  <div class="row g-0">
    <div class="col-md-8">
      <owl-carousel-o [options]="mainSliderOption">
        <ng-template carouselSlide>
          <img
            class="w-100"
            src="./assets/main-slider-1.jpeg"
            alt="main-slider"
            height="400"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            class="w-100"
            src="./assets/main-slider-2.jpeg"
            alt="main-slider"
            height="400"
        /></ng-template>
        <ng-template carouselSlide>
          <img
            class="w-100"
            src="./assets/main-slider-3.jpeg"
            alt="main-slider"
            height="400"
        /></ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-4">
      <img
        class="w-100"
        src="./assets/slide-1.jpeg"
        alt="slide-1"
        height="200"
      />
      <img
        class="w-100"
        src="./assets/slide-2.jpeg"
        alt="slide-1"
        height="200"
      />
    </div>
  </div>
</section>
<section class="my-3">
  <owl-carousel-o [options]="categorySliderOption">
    <ng-container *ngFor="let item of categeries">
      <ng-template carouselSlide>
        <div>
          <img
            class="w-100"
            [src]="item.image"
            [alt]="item.name"
            height="270"
          />
          <h3 class="h5">{{ item.name }}</h3>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
<section class="my-4">
  <input
    type="search"
    class="form-control w-75 mx-auto my-3"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
  />
  <div class="row g-4">
    <h2>Popular Products</h2>

    <div
      class="col-md-3"
      *ngFor="
        let item of products
          | slice : 0 : 12
          | paginate
            : {
                id: '232323',
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalItems
              }
          | search : searchTerm
      "
    >
      <div class="product shadow p-2">
        <div [routerLink]="['/details', item._id]" class="cursor-pointer">
          <img
            [src]="item.imageCover"
            class="w-100 position-relative"
            [alt]="item.title"
          />
          <h3 class="h6 text-main">{{ item.category.name }}</h3>
          <h4 class="h6">
            {{ item.title.split(" ").slice(0, 2).join(" ") }}
          </h4>
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ item.price }} EGP</span>
            <div>
              <i class="fas fa-star rating-color"></i>
              <span class="text-muted">{{ item.ratingsAverage }}</span>
            </div>
          </div>
        </div>
        <i
          *ngIf="!wish.includes(item._id)"
          class="fa-regular fa-heart ani"
          (click)="addwishlist(item._id)"
        ></i>
        <i
          *ngIf="wish.includes(item._id)"
          class="fa-solid fa-heart ani text-danger"
          (click)="removewishlist(item._id)"
        ></i>

        <button class="btn-main w-100" (click)="addCart(item._id)">
          Add To Cart
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4"></div>
</section>
